
<div class="container">
  <h2>Table</h2>                                                                                     
  <div class="table-responsive">          
  <table class="table table-hover table-striped">
    <thead>
      <tr>
      <th><span>No.</span></th>
      <th><span>Issue Key</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      <th><span>Summary</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      <th><span>Priority</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      <th><span>Status</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      <th><span>Reporter</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      <th><span>Excuted By</span><br><i class="arrow up"></i><i class="arrow down"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr class="test-cases-display">
        <td>1</td>
        <td><div class="circle"></div><span><a class="case-link">XMQA-5968</a></span></td>
        <td>Verify the progress Screen for Btg</td>
        <td>Medium</td>
        <td>PASSED</td>
        <td>Archana Swaminathan</td>
        <td>Archana Swaminathan</td>
      </tr>
      <tr class="test-cases-display">
        <td>2</td>
        <td><span class="dot"></span><span><a class="case-link">XMQA-5968</a></span></td>
        <td>Verify the progress Screen for Btg</td>
        <td>Medium</td>
        <td>PASSED</td>
        <td>Archana Swaminathan</td>
        <td>Archana Swaminathan</td>
      </tr>
      <tr class="test-cases-display">
       <td>3</td>
        <td><span class="dot"></span><span><a class="case-link">XMQA-5968</a></span></td>
        <td>Verify the progress Screen for Btg</td>
        <td>Medium</td>
        <td>PASSED</td>
        <td>Archana Swaminathan</td>
        <td>Archana Swaminathan</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>