<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="flex-container">
        <div class="first-row-first-column">
          <div class="flex-container">
            <div class="warning-level-indicator"></div>
            <div>
              <div class="risk-info"><span>RISK LEVEL</span><i class="bi bi-info-circle"></i></div>
              <div class="risk-info-icon"><span class="dot"></span><span class="font-change">VERY HIGH</span></div>
            </div>       
          </div>
        </div>
        <div class="first-row">
          <h2 class="dCWLwZ"><strong>Total Test progress</strong></h2>
          <div class="display-progress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40%
              </div>
            </div>
          </div>
        </div>
        <div class="second-row">
          <div>
            <p class="arrow-text"><strong>TO DO CASES </strong><i class="arrow right"></i></p>
          </div>
          <div>  
            <div class="diplay-inline-text"><span class="dot"></span><span class="display-cases-number">56</span></div>
            <div class="diplay-inline-text"><span>PER 100k </span></div>
          </div>

        </div>
        <div class="second-row">
          <div>
            <p class="arrow-text"><strong>TO DO CASES </strong><i class="arrow right"></i></p>
          </div>
          <div>  
            <div class="diplay-inline-text"><span class="dot"></span><span class="display-cases-number">56</span></div>
            <div class="diplay-inline-text"><span>PER 100k </span></div>
          </div>

        </div> 
        <div class="second-row">
          <div>
            <p class="arrow-text"><strong>TO DO CASES </strong><i class="arrow right"></i></p>
          </div>
          <div>  
            <div class="diplay-inline-text"><span class="dot"></span><span class="display-cases-number">56</span></div>
            <div class="diplay-inline-text"><span>PER 100k </span></div>
          </div>

        </div>
        <div class="second-row">
          <div>
            <p class="arrow-text"><strong>TO DO CASES </strong><i class="arrow right"></i></p>
          </div>
          <div>  
            <div class="diplay-inline-text"><span class="dot"></span><span class="display-cases-number">56</span></div>
            <div class="diplay-inline-text"><span>PER 100k </span></div>
          </div>

        </div>
      </div>      
    </div>
  </div>
</div>
